/*--------------------------------------------------*/
/*BASIC SETUP*/
/*--------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
 {
    background-color: rgb(245, 245, 238);
    color: #606060;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*--------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*--------------------------------------------------*/

.row {
    max-width: 1140px;
    /* margin: 0 auto; */
}

.row-left {
    margin-left: 50px;
}
.sub-section {
    padding: 80px 0px;
}
section { padding: 80px 0px; height: 100vh;}

.clearfix {zoom: 1}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.box {
    padding: 1%;
}

/*-------------------HEADINGS---------------------*/

h1,
h2,
h3  {   
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;  
}

h1 {
    font-size: 240%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
} 

h2:after {
    display: block;
    height: 2px;
    background-color: #b9e63d;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h4 {
    font-weight: 200;
}

.landing {
    padding-top: 75px;
}
.title {
    text-align: center;
}

#first-col {
    padding-left: 30px;
}

/*HEADER*/
/*--------------------------------------------------*/
    
header {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/yosemite.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(./img/yosemite.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/yosemite.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/*--------------------------------------------------*/
/*MAIN NAVI*/
/*--------------------------------------------------*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
  position: fixed;
  right: 55px;
}

.main-nav a {
  display: inline-block;
  margin-left: 40px;
}

.main-nav  a:link,
.main-nav  a:visited {
  padding: 8px 0px;
  color: #af9e92;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
  border-bottom: 2px solid #b9e63d;
}


/*-------------------PARAGRAPHS---------------------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}



/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit],
input[type=button] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit],
input[type=button], 
input[type=submit],
input[type=button] {
    background-color: #b9e63d;
    border: 1px solid #b9e63d;
    color: #fff;
    margin-top: 15px;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=button]:hover,
input[type=submit]:active,
input[type=button]:active {
    background-color: #a1d11d;;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #a1d11d;
}

#inline-btn {
    margin: 0 10px;
    float: right;
}

/*--------------------------------------------------*/
/*FORM*/
/*--------------------------------------------------*/
.form {
    width: 60%;
    margin: 5px auto;
    align-content: center;
}

label {
    margin-top: 15px;
}

input[type=text], 
input[type=password], 
select,
textarea {
    width: 100%;
    padding: 7px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #dbdbdb
}

textarea { height: 100px; }

/* input[type=radio], input[type=text] { margin: 0px 5px 10px 0; } */

*:focus { outline: none; }

/*--------------------------------------------------*/
/*trips*/
/*--------------------------------------------------*/
.trips-container {
    padding-top: 50px;
    align-items: center;
}

.trip-card {
    width: 80%;
    padding: 25px;
    margin: 0% 10% 5% 10%;  
    background-color: WHITE;
    border-radius: 10px;
}

.create-trip-card {
    height: 100vh;
    margin: 20px 0px;
    padding-top: 40px;
}
/*--------------------------------------------------*/
/*parks*/
/*--------------------------------------------------*/
.park-card {
    height: 100vh;
    background-color: white;
    margin: 20px 0px;
    padding-top: 40px;
}
.park-description {
    height: 90vh;
    background-color: white;
    margin: 20px 0px;
}

.park-photo-frame {
    height: 70vh;
    margin: 0px 20px;
    overflow: hidden;
}
.park-photo {
    justify-content: center;
    padding: 0% 5%;
    margin-top: 20px;
}

.park-photo img {
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.park-photo img:hover {
    opacity: 1;
}

.title > a{
    text-decoration: none;
    color: #555;
}
.title > a:hover{
    text-decoration: none;
    color: #a1d11d;
}

/*--------------------------------------------------*/
/*Trips Showcase*/
/*--------------------------------------------------*/
    
.section-trips { padding: 0; }

.trips-card {
    padding-top: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;

}

.trips-photo-frame {
    width: 33.3%;
    overflow: hidden;
    float: left
}
.trips-photo {
    justify-content: bottom;
    height: 200px;

}

.trips-photo img {
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.trips-photo img:hover {
    opacity: 1;
}
