/*--------------------------------------------------*/
/*BASIC SETUP*/
/*--------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
 {
    background-color: rgb(245, 245, 238);
    color: #606060;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*--------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*--------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { padding: 80px 0px; height: 100vh;}

.clearfix {zoom: 1}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.box {
    padding: 1%;
}

/*-------------------HEADINGS---------------------*/

h1,
h2,
h3  {   
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;  
}

h1 {
    font-size: 240%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
} 

h2:after {
    display: block;
    height: 2px;
    background-color: #b9e63d;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*HEADER*/
/*--------------------------------------------------*/
    
header {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/yosemite.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(./img/yosemite.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/yosemite.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/*MAIN NAVI*/
/*--------------------------------------------------*/

.ant-anchor-wrapper > div {
  float: right;
  list-style: none;
  /*margin-top: 35px;*/
  margin-right: 55px;
  padding: 20px;
  
}
.ant-anchor-wrapper {
    
    margin: 0px;
    padding: 10px;
}

.ant-anchor > div {
  display: inline-block;
  margin-left: 40px;
}

.ant-anchor > div >  a:link,
.ant-anchor > div >  a:visited {
  padding: 8px 0px;
  color: rgb(247, 246, 239);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.ant-anchor > div > a:hover,
.ant-anchor > div > a:active {
  border-bottom: 2px solid #b9e63d;
}

/*sticky nav*/
/*--------------------------------------------------*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav a:link,
.sticky .main-nav a:visited {
    padding: 16px 0;
    color: #555;
}

/*--------------------------------------------------*/
/*mobile NAVI*/
/*--------------------------------------------------*/

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #f7f7f7;
}


/*----------------------- center  -----------------------*/
.title {
    text-align: center;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #b9e63d;
    border: 1px solid #b9e63d;
    color: #fff;
    margin-top: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #b9e63d;
    color: #b9e63d;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #a1d11d;;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #a1d11d;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #a1d11d;
    color: #fff;
}

/*--------------------------------------------------*/
/*FORM*/
/*--------------------------------------------------*/
.form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], 
input[type=password], 
select, 
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #dbdbdb
}

textarea { height: 100px; }

input[type=radio] { margin: 10px 5px 10px 0; }

*:focus { outline: none; }

/*--------------------------------------------------*/
/*parks*/
/*--------------------------------------------------*/
.park-card {
    height: 100vh;
    margin-bottom: 55px;
}

.park-photo {
    width: 100%;
    overflow: hidden;
}

.park-photo img {
    width: 100%;
    height: auto;
}
.title > a{
    text-decoration: none;
    color: #555;
}
.title > a:hover{
    text-decoration: none;
    color: #a1d11d;
}
/*--------------------------------------------------*/
/*animations*/
/*--------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animate__fadeIn,
.js--wp-3.animate__fadeIn {
  opacity: 1;
}

.js--wp-4.animate__pulse {
  opacity: 1;
}

.js--wp-2.animate__fadeInUp {
  opacity: 1;
}
